I hereby greet you to our portal.
  Hello {{{firstname}}} {{{middlename}}} {{{lastname}}} 
  Your username: {{{username}}} needs to be activated from either mobile: {{{mobile_number}}} or email: {{{email}}}
  Your current password is set to {{{password}}} 
Nice knowing you,
have a nice day!

